<br>
   <div>
       <br>
        <a href=""  class="btn btn-success" role="button"  routerLink="../add-product">Add Product</a>
    </div>
    
    <div>
        <br>
        <a href=""  class="btn btn-success" role="button" routerLink="../list-product">List Product</a>
    </div>
    
    <div>
        <br>
           <a href=""  class="btn btn-success" role="button" routerLink="../search-product">Search Product</a>
    </div>
    
    <div>
        <br>
           <a href=""  class="btn btn-success" role="button" routerLink="../delete-product">Delete Product</a>
    </div>
    
    <div>
       <br> 
           <a href=""  class="btn btn-success" role="button" routerLink="../modify-product">Modify Product</a>
    </div>
    
     